lib/wscrm.xml

<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://umas.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://umas.cl/">
<wsdl:types>
<s:schema elementFormDefault="qualified" targetNamespace="http://umas.cl/">
<s:element name="WS_sp_elimina_postulante_crm">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_RUT" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_elimina_postulante_crmResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="WS_sp_elimina_postulante_crmResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_busca_postulante_rut_crm">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_RUT" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_busca_postulante_rut_crmResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="WS_sp_busca_postulante_rut_crmResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_insertar_postulante_crm">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_RUT" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_DIGITOVERIFICADOR" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FIRSTNAME" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="LASTNAME" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_APELLIDOMATERNO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_SEXO2" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_BIRTHDATE" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="MOBILEPHONE" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TELEPHONE1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_TELEFONODEEMERGENCIA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EMAILADDRESS1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_DIRECCION" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_COMUNA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CIUDAD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ESRESPONSABLEFINANCIERO" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_COLEGIO" type="s:decimal"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CATEGORIA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ANOEGRESO" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_NEM" type="s:decimal"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ESTADOCIVIL" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_NACIONALIDAD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CODIGOCARRERA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_JORNADA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ESTADO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_VIADEINGRESO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_LICENCIADEENSENAZAMEDIA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_COPIADECEULADEIDENTIDAD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CONCETRACIONDENOTASDEENSENAZA" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_SISTEMADESALUD_BUSQUEDA" type="s:decimal"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_INSTITUCION_BUSQUEDA" type="s:decimal"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_MOTIVODESELECCION_BUSQUEDA" type="s:decimal"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_TRAMORENTA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_MEDIOSDESELECCION_BUSQUEDA" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_insertar_postulante_crmResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="WS_sp_insertar_postulante_crmResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_actualizar_postulante_crm">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_RUT" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_DIGITOVERIFICADOR" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="FIRSTNAME" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="LASTNAME" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_APELLIDOMATERNO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_SEXO2" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_BIRTHDATE" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="MOBILEPHONE" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="TELEPHONE1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_TELEFONODEEMERGENCIA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="EMAILADDRESS1" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_DIRECCION" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_COMUNA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CIUDAD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ESRESPONSABLEFINANCIERO" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_COLEGIO" type="s:decimal"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CATEGORIA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ANOEGRESO" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_NEM" type="s:decimal"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ESTADOCIVIL" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_NACIONALIDAD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CODIGOCARRERA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_JORNADA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_ESTADO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_VIADEINGRESO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_LICENCIADEENSENAZAMEDIA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_COPIADECEULADEIDENTIDAD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_CONCETRACIONDENOTASDEENSENAZA" type="s:string"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_SISTEMADESALUD_BUSQUEDA" type="s:decimal"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_INSTITUCION_BUSQUEDA" type="s:decimal"/>
<s:element minOccurs="1" maxOccurs="1" name="ADD_MOTIVODESELECCION_BUSQUEDA" type="s:decimal"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_TRAMORENTA" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_MEDIOSDESELECCION_BUSQUEDA" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_actualizar_postulante_crmResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="WS_sp_actualizar_postulante_crmResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_busca_matriculado_rut_crm">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="ADD_RUT" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_busca_matriculado_rut_crmResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="WS_sp_busca_matriculado_rut_crmResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_busca_matriculado_todos_crm">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="USUARIO" type="s:string"/>
<s:element minOccurs="0" maxOccurs="1" name="PASSWORD" type="s:string"/>
</s:sequence>
</s:complexType>
</s:element>
<s:element name="WS_sp_busca_matriculado_todos_crmResponse">
<s:complexType>
<s:sequence>
<s:element minOccurs="0" maxOccurs="1" name="WS_sp_busca_matriculado_todos_crmResult">
<s:complexType mixed="true">
<s:sequence>
<s:any/>
</s:sequence>
</s:complexType>
</s:element>
</s:sequence>
</s:complexType>
</s:element>
</s:schema>
</wsdl:types>
<wsdl:message name="WS_sp_elimina_postulante_crmSoapIn">
<wsdl:part name="parameters" element="tns:WS_sp_elimina_postulante_crm"/>
</wsdl:message>
<wsdl:message name="WS_sp_elimina_postulante_crmSoapOut">
<wsdl:part name="parameters" element="tns:WS_sp_elimina_postulante_crmResponse"/>
</wsdl:message>
<wsdl:message name="WS_sp_busca_postulante_rut_crmSoapIn">
<wsdl:part name="parameters" element="tns:WS_sp_busca_postulante_rut_crm"/>
</wsdl:message>
<wsdl:message name="WS_sp_busca_postulante_rut_crmSoapOut">
<wsdl:part name="parameters" element="tns:WS_sp_busca_postulante_rut_crmResponse"/>
</wsdl:message>
<wsdl:message name="WS_sp_insertar_postulante_crmSoapIn">
<wsdl:part name="parameters" element="tns:WS_sp_insertar_postulante_crm"/>
</wsdl:message>
<wsdl:message name="WS_sp_insertar_postulante_crmSoapOut">
<wsdl:part name="parameters" element="tns:WS_sp_insertar_postulante_crmResponse"/>
</wsdl:message>
<wsdl:message name="WS_sp_actualizar_postulante_crmSoapIn">
<wsdl:part name="parameters" element="tns:WS_sp_actualizar_postulante_crm"/>
</wsdl:message>
<wsdl:message name="WS_sp_actualizar_postulante_crmSoapOut">
<wsdl:part name="parameters" element="tns:WS_sp_actualizar_postulante_crmResponse"/>
</wsdl:message>
<wsdl:message name="WS_sp_busca_matriculado_rut_crmSoapIn">
<wsdl:part name="parameters" element="tns:WS_sp_busca_matriculado_rut_crm"/>
</wsdl:message>
<wsdl:message name="WS_sp_busca_matriculado_rut_crmSoapOut">
<wsdl:part name="parameters" element="tns:WS_sp_busca_matriculado_rut_crmResponse"/>
</wsdl:message>
<wsdl:message name="WS_sp_busca_matriculado_todos_crmSoapIn">
<wsdl:part name="parameters" element="tns:WS_sp_busca_matriculado_todos_crm"/>
</wsdl:message>
<wsdl:message name="WS_sp_busca_matriculado_todos_crmSoapOut">
<wsdl:part name="parameters" element="tns:WS_sp_busca_matriculado_todos_crmResponse"/>
</wsdl:message>
<wsdl:portType name="Service1Soap">
<wsdl:operation name="WS_sp_elimina_postulante_crm">
<wsdl:input message="tns:WS_sp_elimina_postulante_crmSoapIn"/>
<wsdl:output message="tns:WS_sp_elimina_postulante_crmSoapOut"/>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_postulante_rut_crm">
<wsdl:input message="tns:WS_sp_busca_postulante_rut_crmSoapIn"/>
<wsdl:output message="tns:WS_sp_busca_postulante_rut_crmSoapOut"/>
</wsdl:operation>
<wsdl:operation name="WS_sp_insertar_postulante_crm">
<wsdl:input message="tns:WS_sp_insertar_postulante_crmSoapIn"/>
<wsdl:output message="tns:WS_sp_insertar_postulante_crmSoapOut"/>
</wsdl:operation>
<wsdl:operation name="WS_sp_actualizar_postulante_crm">
<wsdl:input message="tns:WS_sp_actualizar_postulante_crmSoapIn"/>
<wsdl:output message="tns:WS_sp_actualizar_postulante_crmSoapOut"/>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_matriculado_rut_crm">
<wsdl:input message="tns:WS_sp_busca_matriculado_rut_crmSoapIn"/>
<wsdl:output message="tns:WS_sp_busca_matriculado_rut_crmSoapOut"/>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_matriculado_todos_crm">
<wsdl:input message="tns:WS_sp_busca_matriculado_todos_crmSoapIn"/>
<wsdl:output message="tns:WS_sp_busca_matriculado_todos_crmSoapOut"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="Service1Soap" type="tns:Service1Soap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="WS_sp_elimina_postulante_crm">
<soap:operation soapAction="http://umas.cl/WS_sp_elimina_postulante_crm" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_postulante_rut_crm">
<soap:operation soapAction="http://umas.cl/WS_sp_busca_postulante_rut_crm" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_insertar_postulante_crm">
<soap:operation soapAction="http://umas.cl/WS_sp_insertar_postulante_crm" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_actualizar_postulante_crm">
<soap:operation soapAction="http://umas.cl/WS_sp_actualizar_postulante_crm" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_matriculado_rut_crm">
<soap:operation soapAction="http://umas.cl/WS_sp_busca_matriculado_rut_crm" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_matriculado_todos_crm">
<soap:operation soapAction="http://umas.cl/WS_sp_busca_matriculado_todos_crm" style="document"/>
<wsdl:input>
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="WS_sp_elimina_postulante_crm">
<soap12:operation soapAction="http://umas.cl/WS_sp_elimina_postulante_crm" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_postulante_rut_crm">
<soap12:operation soapAction="http://umas.cl/WS_sp_busca_postulante_rut_crm" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_insertar_postulante_crm">
<soap12:operation soapAction="http://umas.cl/WS_sp_insertar_postulante_crm" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_actualizar_postulante_crm">
<soap12:operation soapAction="http://umas.cl/WS_sp_actualizar_postulante_crm" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_matriculado_rut_crm">
<soap12:operation soapAction="http://umas.cl/WS_sp_busca_matriculado_rut_crm" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="WS_sp_busca_matriculado_todos_crm">
<soap12:operation soapAction="http://umas.cl/WS_sp_busca_matriculado_todos_crm" style="document"/>
<wsdl:input>
<soap12:body use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="Service1">
<wsdl:port name="Service1Soap" binding="tns:Service1Soap">
<soap:address location="http://ipg.umas.cl/wscrm/Service1.asmx"/>
</wsdl:port>
<wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
<soap12:address location="http://ipg.umas.cl/wscrm/Service1.asmx"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
